// Default variables.
@import 'default-variables';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800');

body {
  color: $black;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  text-transform: uppercase;
}

h3 {
  font-size: 30px;
}

a {
  color: $black;
  &:hover {
    color: $cyan;
  }
}

/* Bootstrap Overrides */
.pagination > li > a, .pagination > li > span {
  background-color: $cyan;
  &:hover {
    background-color: $pink;
  }
}

.pagination > .active > span {
  background-color: $pink;
  &:hover {
    background-color: $pink;
  }
}

/* Carousel Banners */
.carousel-control.left {
  background: none;
}

.navbar {
  margin-bottom: 0;
}
.navbar.container {
  margin-top: 0;
}

.navbar-header {
  position: relative;
}

.navbar-toggle {
  background: $black;
  &:hover {
    opacity: 0.8;
  }
}

a.logo {
  display: none;
}

.navbar-default {
  background: none;
  .navbar-brand {
    background: $cyan;
    margin: 5px auto 0;
    color: $white;
    &:hover {
      background: $cyan;
      color: $black;
    }
  }
  .navbar-collapse, .navbar-form {
    border: none;
  }
  .navbar-nav {
    float: right;
    background: $white;
    text-transform: uppercase;
    &:before {
      background: $cyan;
      padding: 20px 100% 15px 0;
      position: absolute;
      margin-left: -8%;
    }
  }
  .navbar-nav > li {
    margin-top: 2em;
  }
  .navbar-nav > li > a {
    color: $black;
    margin-left: 48px;
  }
  .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    background: none;
    color: $pink;
  }
}

/* Main Container */
.main-container {
  padding-top: 2em;
}

/* Events */
.view-display-id-events_banner {
  position: relative;
  z-index: 10;
  .views-field-body {
    position: absolute;
    z-index: 100;
    width: 30%;
    left: 16%;
    top: 40%;
    line-height: 1.5em;
    font-size: 28px;
    h3 {
      margin-top: 0;
      a {
        font-size: 70px;
        color: $cyan;
        font-weight: 800;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
.view-display-id-featured_event_block {
  .event-date {
    color: $cyan;
    text-transform: uppercase;
    font-weight: 600;
  }
  .event-title h3 {
    text-transform: capitalize;
    margin-top: 5px;
    margin-bottom: 1em;
    a:hover {
      text-decoration: none;
    }
  }
  .views-field-field-event-photo {
    float: left;
    width: 56%;
  }
  .views-field-nothing {
    width: 42%;
    float: left;
  }
}

.event-link {
  &:before {
    position: absolute;
    z-index: 100;
    background: $pink;
    padding: 0.5em 2em;
    margin: 1em 0;
    transform: skew(-15deg);
    text-transform: uppercase;
  }
  a {
    color: $white;
    text-decoration: none;
    position: relative;
    justify-content: center;
    display: inline-block;
    z-index: 100;
    background: $pink;
    padding: 0.5em 2em;
    margin: 1em 0;
    transform: skew(-15deg);
    text-transform: uppercase;

    &:hover {
      opacity: 0.8;
    }
  }
}

.view-display-id-upcoming_events {
  .view-header h2 {
    background: $gray;
    color: $white;
    margin: 4em auto 2em;
    padding: 8px 0;
    text-align: center;
    width: 32%;
    position: relative;
    z-index: 1;

    &:before,
    &:after {
      background: inherit;
      content: '';
      display: block;
      height: 50%;
      left: 0;
      position: absolute;
      right: 0;
      z-index: -1;
      -webkit-backface-visibility: hidden; // for Chrome Windows
    }

    &:before {
      top: 0;
      transform: skewY(1.5deg);
      transform-origin: 100% 0;
    }

    &:after {
      bottom: -10px;
      transform: skewY(1.5deg);
      transform-origin: 100%;
    }

  }
  .row {
    margin-bottom: 4em;
  }
  .col {
    position: relative;
    z-index: 10;
  }
  .views-field-field-date-1 {
    position: absolute;
    z-index: 1000;
    background: $white;
    right: 3em;
    top: 0;
    padding: 10px 1.5em;
    text-align: center;
    .event_month {
      color: $cyan;
      text-transform: uppercase;
      font-weight: 600;
    }
    .event_day {
      font-size: 30px;
    }
    &:before,
    &:after {
      content: '';
      display: block;
      height: 18%;
      left: 0;
      position: absolute;
      right: 0;
      z-index: 10000;
      -webkit-backface-visibility: hidden; // for Chrome Windows
    }

    &:after {
      bottom: -14px;
      transform: skewY(10deg);
      transform-origin: 100% 0;
      background: $white;
      width: 100.5%;
    }
  }
  .views-field-field-date-2 {
    color: $cyan;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    z-index: 1000;
  }
  .views-field-title h3 {
    margin: 5px 0 1em;
    position: relative;
    z-index: 1000;
    a:hover {
      text-decoration: none;
    }
  }
  .views-field-field-event-photo {
    img, a {
      position: relative;
      z-index: 1;
    }

    .field-content {
      position: relative;
      z-index: 100;
      &:before,
      &:after {
        content: '';
        display: block;
        height: 32%;
        left: 0;
        position: absolute;
        right: 0;
        z-index: 100;
        -webkit-backface-visibility: hidden; // for Chrome Windows
      }

      &:after {
        bottom: -65px;
        transform: skewY(10deg);
        transform-origin: 100% 0;
        background: $white;
      }
    }
  }
  .views-field-view-node {
    margin-top: 2.5em;
    span {
      background: url(../images/learnicon.png) no-repeat right center;
      padding-right: 1.5em;
    }
    a {
      color: $pink;
      border-top: $pink 3px solid;
      text-transform: uppercase;
      font-weight: 600;
      padding-top: 10px;
      &:hover {
        text-decoration: none;
        color: $black;
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  .navbar-default .navbar-nav::before {
    padding: 20px 85% 15px 0;
  }
  .view-display-id-events_banner .views-field-body {
    left: 10%;
  }
}

@media only screen and (max-width: 1400px) {
  .navbar-default .navbar-nav::before {
    padding: 20px 80% 15px 0;
  }
  .view-display-id-events_banner .views-field-body {
    top: 45%;
    left: 6%;
    width: 35%;
    font-size: 20px;
    h3 a {
      font-size: 60px;
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .navbar-default .navbar-nav::before {
    padding: 20px 70% 15px 0;
    margin-left: 0;
  }
  .view-display-id-featured_event_block {
    .views-field-field-event-photo, .views-field-nothing {
      width: 100%;
    }
    .views-field-nothing {
      padding-top: 1em;
    }
    .event-title h3 {
      margin-bottom: 1em;
    }
  }
  .view-display-id-upcoming_events {
    .col {
      padding-bottom: 4em;
    }
    .views-field-field-event-photo {
      img {
        width: 100%;
      }

      .field-content {
        position: relative;
        z-index: 100;
        &:before,
        &:after {
          height: 45%;
          bottom: -165px;
        }
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .navbar-header .collapse, .navbar-toggle {
    display:block !important;
  }
  .navbar-header {
    float: none;
  }
  .view-display-id-events_banner .views-field-body {
    top: 25%;
    left: 5%;
    width: 35%;
    font-size: 20px;
    h3 a {
      font-size: 40px;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .navbar-header {
    background: $white;
    padding-bottom: 10px;
  }
  .navbar-default {
    .navbar-brand {
      margin: 10px 10px 0;
    }
    .navbar-nav {
      float: none;
      background: $gray;
      margin: 0 -15px;
      &::before {
        padding: 0;
      }
    }
    .navbar-nav > li {
      margin-top: 0;
    }
    .navbar-nav > li > a {
      color: $white;
    }
  }
  .view-display-id-events_banner .views-field-body {
    top: 4%;
    left: 5%;
    width: 35%;
    font-size: 15px;
    h3 a {
      font-size: 30px;
    }
  }
  .view-display-id-upcoming_events .view-header h2 {
    position: static;
    &:before,
    &:after {
      position: static;
    }
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .view-display-id-events_banner .views-field-body {
    top: 0;
    left: 4%;
    width: 44%;
    font-size: 10px;
    h3 {
      margin: 0 0 5px 0;
      line-height: 0.5em;
      a {
        font-size: 14px;
      }
    }

  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}
